<div class="mooc-container">

  <div class="search-container">
    <input class="search-box" type="text" placeholder="Type some keywords if you want filter the Mooc list below"
           [(ngModel)]="query"/>
    <button class="search-button">Search</button>
  </div>
  <app-mooc-item *ngFor="let item of moocs | search:'name,description':query"
                 [name]="item.name"
                 [url]="item.url"
                 [urlImage]="item.urlImage"
                 [description]="item.description"></app-mooc-item>
</div>