<div class="provider-container">
  <app-provider-item *ngFor="let item of providers"
                     [name]="item.name"
                     [url]="item.url"
                     [urlImage]="item.urlImage"
                     [description]="item.description"></app-provider-item>
</div>