/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  font-family: 'Lato', sans-serif;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mooc-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 3em;
}

.search-container {
  display: flex;
  flex-direction: row;
  margin: 1em;
}

.search-container {
  width: 100%;
}

.search-box {
  width: 80%;
  height: 3em;
  margin: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.search-button {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  min-width: 15%;
}

.search-button:hover {
  cursor: pointer;
}

.provider-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.provider-item {
  background-color: blue;
  color: white;
  margin: 1em;
  width: 30em;
  height: 30em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.provider-item:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
  transition: transform 1s;
}

.mooc-item {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  width: 90%;
}

.mooc-item:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1) translateX(5%);
  transition: transform 1s;
}

.providerName,
.providerDescription {
  padding: 1em;
}

.moocName {
  width: 20em;
}

.moocName,
.moocDescription {
  margin: auto;
  padding-left: 2em;
  padding-right: 2em;
}